@media (max-width: 1440px) {
  div.all {
    display: flex;
    flex-direction: column;
  }

  div.all > div.price {
    border-bottom-left-radius: 0px;
  }

  div.all > div.why {
    border-bottom-right-radius: 0px;
  }
}

@media (max-width: 375px) {
  div.all {
    display: flex;
    flex-direction: column;
  }

  div.all > div.price {
    border-bottom-left-radius: 0px;
  }

  div.all > div.why {
    border-bottom-right-radius: 0px;
  }
}
